#edit-custom-field-category
  .inner
    %h2!= t('.title')

    %p!= t('.help')

    = semantic_form_for @field, :as => :custom_field, :url => admin_custom_field_url(@parent.class.model_name.underscore, @parent.slug, @field) do |f|

      = f.foldable_inputs :name => t('.collection_label'), :class => 'editable-list off'

    %script{ :type => 'text/javascript', :name => 'data' }
      != "var categories = #{collection_to_js(@field.ordered_category_items, :template => CustomFields::Types::Category::Item.new)};"

  .popup-actions
    %p
      %button.button.light{ :type => 'submit' }
        %span= t('admin.shared.form_actions.update')