%li{ :id => "item-#{page.id}", :class => "#{'not-found' if page.not_found? } #{'templatized' if page.templatized?}"}
  - with_children = !page.children.empty?

  - if not page.index? and with_children
    = image_tag 'admin/list/icons/node_closed.png', :class => 'toggler'
  %em
  %strong= link_to truncate(page.title, :length => 80), edit_admin_page_url(page)

  .more
    %span!= t('.updated_at')
    = l page.updated_at, :format => :short

    - if not page.index? and not page.not_found?
      = link_to image_tag('admin/list/icons/trash.png'), admin_page_url(page), :class => 'remove', :confirm => t('admin.messages.confirm'), :method => :delete

  - if with_children
    %ul{ :id => "folder-#{page._id}", :class => "folder depth-#{(page.depth || 0) + 1}", :data_url => sort_admin_page_url(page), :style => "display: #{cookies["folder-#{page._id}"] || 'block'}" }
      = render page.children