- title link_to(@page.title.blank? ? @page.title_was : @page.title, '#', :rel => 'page_title', :title => t('.ask_for_title'), :class => 'editable')

- content_for :submenu do
  = render 'admin/shared/menu/contents'
  
- content_for :actions do
  = render 'admin/shared/actions/contents'

- content_for :buttons do
  = admin_button_tag :show, "/#{@page.fullpath}", :class => 'show'

%p!= t('.help')

= semantic_form_for @page, :url => admin_page_url(@page), :html => { :class => 'save-with-shortcut', :multipart => true } do |form|

  = render 'form', :f => form

  = render 'admin/shared/form_actions', :back_url => admin_pages_url, :button_label => :update