- title t('.title')

- content_for :submenu do
  = render 'admin/shared/contents_menu'

- content_for :buttons do
  = admin_button_tag :new, new_admin_page_url, :class => 'add'

%p= t('.help')

- if @pages.empty?
  %p.no-items= t('.no_items', :url => new_admin_page_url)
- else
  %ul#pages-list
    - @pages.each do |page|
      %li
        = link_to page.title, edit_admin_page_url(page)