- title t('.title')

- content_for :head do
  = include_javascripts :pages

- content_for :submenu do
  = render 'admin/shared/menu/contents'
  
- content_for :actions do
  = render 'admin/shared/actions/contents'

- content_for :buttons do
  = admin_button_tag :new, new_admin_page_url, :class => 'new'

%p!= t('.help')

- if @pages.empty?
  %p.no-items!= t('.no_items', :url => new_admin_page_url)
- else
  %ul#pages-list
    = render @pages
