- content_for :head do
  = render '/locomotive/content_assets/picker'

- content_for :backbone_view_data do
  :plain
    content_entry: #{j @content_entry.to_json.html_safe}

= f.inputs :name => :attributes do
  - @content_type.ordered_entries_custom_fields.each_with_index do |field, index|
    = render "locomotive/custom_fields/types/#{field.type}",
      :f            => f,
      :name         => field.name.to_sym,
      :field        => field,
      :highlighted  => field._id == @content_type.label_field_id

= f.inputs :name => :advanced_options, :class => "inputs foldable #{'folded' if inputs_folded?(@content_entry)}" do

  = f.input :_slug
  = f.input :seo_title
  = f.input :meta_keywords
  = f.input :meta_description
