- if entries.empty?
  %p.no-items!= t('.no_items', url: new_content_entry_path(content_type.slug))
- else
  %ul{ id: 'entries-list', class: "#{content_type.groupable? ? 'grouped' : 'list'} #{'sortable' if content_type.order_manually?}", :'data-url' => sort_content_entries_path(content_type.slug, :json) }
    - entries.each do |entry|
      %li.item{ id: "entry-#{entry._id}" }
        %span.handle
          - if content_type.groupable?
            %i.icon-reorder

        %strong= link_to entry_label(content_type, entry), edit_content_entry_path(content_type.slug, entry)

        - unless entry.translated?
          %span.untranslated= t('locomotive.shared.list.untranslated')
        .more
          %span
            != t('locomotive.content_entries.index.updated_at')
          = l entry.updated_at, format: :short rescue 'n/a'

          = link_to_icon :trash, content_entry_path(content_type.slug, entry), title: t('locomotive.buttons.delete'), class: 'remove', data: { confirm: t('locomotive.messages.confirm') }, method: :delete

  - if entries.respond_to?(:current_page)
    = paginate entries, namespace: 'locomotive'