- if entries.empty?
  %p.no-items!= t('.no_items', :url => new_content_entry_url(content_type.slug))
- else
  %ul{ :id => 'entries-list', :class => "#{'list' unless content_type.groupable?} #{'sortable' if content_type.order_manually?}", :'data-url' => sort_content_entries_url(content_type.slug, :json) }
    - entries.each do |entry|
      %li.item{ :id => "entry-#{entry._id}" }
        %span.handle
          = image_tag 'locomotive/form/icons/drag.png'

        %strong= link_to entry_label(content_type, entry), edit_content_entry_url(content_type.slug, entry)

        - unless entry.translated?
          %span.untranslated= t('locomotive.shared.list.untranslated')
        .more
          %span
            != t('locomotive.content_entries.index.updated_at')
          = l entry.updated_at, :format => :short rescue 'n/a'

          = link_to 'x', content_entry_url(content_type.slug, entry), :class => 'remove', :data => { :confirm => t('locomotive.messages.confirm') }, :method => :delete