- if entries.empty?
  .alert.alert-warning
    != t('.no_items', url: new_content_entry_path(content_type.slug))
- else
  #entries-list{ class: "row big-list #{'grouped' if content_type.groupable?} #{'sortable' if content_type.order_manually?}", :'data-url' => sort_content_entries_path(content_type.slug, :json) }
    - entries.each do |entry|
      .item{ class: 'col-md-12', data: { id: entry._id } }
        - if content_type.order_manually?
          .draggable
            %i.fa.fa-bars.draggable

        .text
          %strong= link_to entry_label(content_type, entry), edit_content_entry_path(content_type.slug, entry)
          .stamp
            != content_entry_stamp(entry)

        .actions
          = link_to content_entry_path(content_type.slug, entry), title: t('locomotive.buttons.delete'), class: 'remove', data: { confirm: t('locomotive.messages.confirm') }, method: :delete do
            %i.fa.fa-trash-o


    / %strong= link_to entry_label(content_type, entry), edit_content_entry_path(content_type.slug, entry)

    / - unless entry.translated?
    /   %span.untranslated= t('locomotive.shared.list.untranslated')
    / .more
    /   %span
    /     != t('locomotive.content_entries.index.updated_at')
    /   = l entry.updated_at, format: :short rescue 'n/a'

    /   = link_to_icon :trash, content_entry_path(content_type.slug, entry), title: t('locomotive.buttons.delete'), class: 'remove', data: { confirm: t('locomotive.messages.confirm') }, method: :delete

  - if entries.respond_to?(:current_page)
    = paginate entries, namespace: 'locomotive'