- title t('.title', type: @content_type.name.capitalize)

= help @content_type.description

= locomotive_form_for @content_entry, as: :content_entry, url: content_entry_path(current_site, @content_type.slug, @content_entry), html: { multipart: true } do |f|

  = hidden_field_tag :active_tab, ''
  = hidden_field_tag :_location,  params[:_location]

  = f.action 'hide'

  = render 'locomotive/content_entries/form/tabs', f: f

  = render 'locomotive/content_entries/form/panes', f: f
