- title t('.title', type: @content_type.name.capitalize)

- content_for :actions do
  = link_to t('.new'), new_content_entry_path(@content_type.slug), class: 'btn btn-primary btn-sm'

- if @content_type.filter_fields.present?
  .row
    .col-md-6
      = help @content_type.description
    .col-md-6
      .search-bar
        = form_tag content_entries_path(@content_type.slug), method: :get do
          .form-group
            = hidden_field_tag :group, params[:group]
            = hidden_field_tag :where, params[:where]
            = text_field_tag :q, params[:q], placeholder: t('.search_placeholder'), class: 'form-control'
            %i.fa.fa-search.icon

- else
  = help @content_type.description

- if @content_type.groupable?
  .nav-container
    %ul.nav.nav-tabs{ role: 'tablist' }
      %li{ class: "#{'active' if params[:group].nil? }" }
        = link_to t('.group_by.all'), content_entries_path(@content_type.slug, query: params[:query])

      - each_content_entry_group(@content_type) do |group|
        %li{ class: "#{'active' if params[:group] == group[:name] }" }
          = link_to group[:name], group[:url]

= render 'list', content_type: @content_type, entries: @content_entries
