- title t('.title')

- content_for :submenu do
  = render 'locomotive/shared/menu/contents'

- content_for :actions do
  = render 'locomotive/shared/actions/contents'

- content_for :buttons do
  = local_action_button :show_items, contents_url(@content_type.slug_was), :class => 'show'
  = local_action_button :new_item, new_content_url(@content_type.slug_was), :class => 'new'

%p!= t('.help')

= semantic_form_for @content_type, :url => content_type_url(@content_type) do |f|

  = render 'form', :f => f

  = render 'locomotive/shared/form_actions', :back_url => contents_url(@content_type.slug_was), :button_label => :update

= render 'locomotive/custom_fields/edit_field', :content_type => @content_type