- title t('.title')

- content_for :submenu do
  = render 'admin/shared/menu/settings'

%p!= t('.help')

= semantic_form_for @membership, :url => admin_memberships_url do |f|

  = f.inputs :name => :membership_email, :class => 'inputs email' do

    = f.custom_input :email, { :css => 'string full', :with_label => false } do
      = f.text_field :email

  = render 'admin/shared/form_actions', :back_url => edit_admin_current_site_url, :button_label => :create