= f.inputs name: :advanced do
  = f.input :locales, as: 'Locomotive::Array', partial: :locale, template_url: new_locale_current_site_path, select_options: options_for_site_locales

  = f.input :timezone_name, as: :select, include_blank: false, collection: options_for_site_timezones

  = f.input :robots_txt, as: 'Locomotive::Code', wrapper_html: { class: 'small' }

= f.actions class: 'text-right' do
  = semantic_form_button @site
