= f.inputs :information do
  = f.input :name
  = f.input :picture, as: :file
  = f.input :memberships, as: :array, template: :membership, new_item: policy(Locomotive::Membership).create? ? { label: t('.new_membership'), url: new_membership_path } : nil, wrapper_html: { class: 'memberships' }

= render 'locomotive/current_site/form/actions', f: f
