- title link_to(@collection.name.blank? ? @collection.name_was : @collection.name, '#', :rel => 'asset_collection_name', :title => t('.ask_for_name'), :class => 'editable')

- content_for :head do
  = javascript_include_tag 'admin/asset_collections', 'admin/custom_fields'

- content_for :submenu do
  = render 'admin/shared/menu/assets'

%p= t('.help')

- content_for :buttons do
  = admin_button_tag :add_asset, new_admin_asset_url(@collection), :class => 'add'
  
%p.no-items{ :style => "#{'display: none' unless @collection.assets.empty? }" }
  = t('.no_items', :url => new_admin_asset_url(@collection))
    
%ul#assets.assets.sortable
  = render :partial => 'asset', :collection => @collection.ordered_assets
  %li.clear
  
= semantic_form_for @collection, :url => admin_asset_collection_url(@collection), :html => { :multipart => true } do |f|
  = f.hidden_field :assets_order
  
  = f.foldable_inputs :name => :options do
    = f.input :name
    = f.input :slug, :required => false
    
  = render 'admin/shared/custom_fields', :f => f, :collection_name => 'assets'
    
  = render 'admin/shared/form_actions', :delete_button => link_to(content_tag(:span, t('.destroy')), admin_asset_collection_url(@collection), :confirm => t('admin.messages.confirm'), :method => :delete, :class => 'button small remove'), :button_label => :update