- title link_to(@asset_collection.name.blank? ? @asset_collection.name_was : @asset_collection.name, '#', :rel => 'asset_collection_name', :title => t('.ask_for_name'), :class => 'editable')

- content_for :head do
  = include_javascripts :asset_collections
  = include_stylesheets :fancybox

- content_for :submenu do
  = render 'admin/shared/menu/assets'
  
- content_for :actions do
  = render 'admin/shared/actions/assets'

%p!= t('.help')

- content_for :buttons do
  = admin_button_tag :add_asset, new_admin_asset_url(@asset_collection), :class => 'new'

%p.no-items{ :style => "#{'display: none' unless @asset_collection.assets.empty? }" }
  != t('.no_items', :url => new_admin_asset_url(@asset_collection))

%ul#assets.assets.sortable
  = render :partial => 'asset', :collection => @asset_collection.ordered_assets
  %li.clear

= semantic_form_for @asset_collection, :url => admin_asset_collection_url(@asset_collection), :html => { :multipart => true } do |f|
  = f.hidden_field :assets_order

  = f.foldable_inputs :name => :options do
    = f.input :name
    = f.input :slug, :required => false

  = render 'admin/custom_fields/index', :form => f, :collection_name => 'assets'

  = render 'admin/shared/form_actions', :delete_button => link_to(content_tag(:em, escape_once('&nbsp;')) + t('.destroy'), admin_asset_collection_url(@asset_collection), :confirm => t('admin.messages.confirm'), :method => :delete, :class => 'button small remove'), :button_label => :update

= render 'admin/custom_fields/edit_field'
