- title t('.title')

- content_for :head do
  = include_javascripts :asset_collections

- content_for :submenu do
  = render 'admin/shared/menu/assets'
  
- content_for :actions do
  = render 'admin/shared/actions/assets'

%p!= t('.help')

= semantic_form_for @asset_collection, :url => admin_asset_collections_url do |f|

  = f.inputs :name => :information do
    = f.input :name
    = f.input :slug, :required => false

  = render 'admin/shared/form_actions', :back_url => admin_asset_collections_url, :button_label => :create
