- content_for :head do
  = javascript_include_tag 'admin/plugins/tiny_mce/tinymce', 'admin/plugins/json2', 'admin/plugins/fancybox', 'admin/custom_fields/category', 'admin/assets'
  = stylesheet_link_tag 'admin/plugins/fancybox', 'admin/box'

= f.inputs :name => :information do
  = f.input :name
  = f.input :source

- unless @asset.custom_fields.empty?
  = render 'admin/custom_fields/custom_form', :form => f, :title => :other_fields, :parent => @asset_collection

- if @asset.image? && @asset.valid?
  = f.foldable_inputs :name => "#{t('formtastic.titles.preview')} #{image_dimensions_and_size(@asset)}", :class => 'preview' do
    %li
      .image
        .inside
          = image_tag(@asset.source.url(:preview))