- content_for :head do
  = include_javascripts :edit_custom_fields, :assets
  = include_stylesheets :fancybox

= f.inputs :name => :information do
  = f.input :name
  = f.input :source, :hint_options => @asset.persisted? ? { :url => link_to(@asset.source_filename, @asset.source.url), :escaping => false } : {}

- unless @asset.custom_fields.blank?
  = render 'admin/custom_fields/custom_form', :form => f, :title => :other_fields, :parent => @asset_collection

- if @asset.image? && @asset.valid?
  = f.foldable_inputs :name => "#{t('formtastic.titles.preview')} #{image_dimensions_and_size(@asset)}", :class => 'preview' do
    %li
      .image
        .inside
          = image_tag(@asset.source.url(:preview))