- title t('.title')

- content_for :submenu do
  = render 'admin/shared/menu/assets'
  
- content_for :actions do
  = render 'admin/shared/actions/assets'

- content_for :buttons do
  = admin_button_tag t('admin.asset_collections.edit.add_asset'), new_admin_asset_url(@asset_collection), :class => 'new'

%p!= t('.help')

= semantic_form_for @asset, :url => admin_asset_url(@asset_collection, @asset), :html => { :multipart => true, :class => 'save-with-shortcut' } do |form|

  = render 'form', :f => form

  = render 'admin/shared/form_actions', :back_url => edit_admin_asset_collection_url(@asset_collection), :button_label => :update