- title t('.title')

- content_for :submenu do
  = render 'admin/shared/menu/assets'
  
- content_for :actions do
  = render 'admin/shared/actions/assets'

%p!= t('.help')

= semantic_form_for @asset, :url => admin_assets_url(@asset_collection), :html => { :multipart => true } do |form|

  = render 'form', :f => form

  = render 'admin/shared/form_actions', :back_url => edit_admin_asset_collection_url(@asset_collection), :button_label => :create