- if @content_assets.empty?
  %br

  .alert.alert-warning
    != t('.no_items')

- else
  - # Display the assets
  .content-assets-list
    - @content_assets.each do |asset|
      - presenter = asset.to_presenter
      .asset
        .small-thumbnail
          - if presenter.with_thumbnail
            = image_tag presenter.alternative_vignette_url
          - else
            .not-a-image{ class: presenter.content_type }
              %span= presenter.content_type_text

        %h2= presenter.filename

        .actions
          = link_to 'Select', '#', class: 'btn btn-primary btn-sm select', data: { image: asset.image? }

          - if asset.image?
            .image-dialog-content
              %p TODO

          &nbsp;

          = link_to content_asset_path(asset, params.slice(:types, :query, :page, :per_page)), class: 'remove', method: :delete, data: { confirm: t('locomotive.messages.confirm'), return_url: request.original_url }, title: t('locomotive.buttons.delete'), remote: true do
            %i.fa.fa-trash-o

  .text-center
    = paginate @content_assets, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-sm', remote: true
