%script{ type: 'text/html', id: 'content_asset_picker' }

  %h2!= t('.title')

  .filter-and-search
    .button-groups.asset-types
      - Locomotive::ContentAsset.types_for_content_editing.each do |type|
        %button.btn{ data: { type: type } }= t(".types.#{type}")
      %button.btn{ data: { type: 'other'} }= t('.types.others')

    .search-bar
      %input{ type: 'text', name: 'query', placeholder: t('.placeholder_search') }
      %i.icon-search

  %p.no-items{ style: 'display: none' }!= t('.no_items')

  %ul.list.content-assets{ style: 'display: none' }
    %li.clear

  .dialog-actions
    = link_to t('locomotive.buttons.close'), '#', id: 'close-link'

    .button-wrapper.upload
      = form_tag content_assets_path(:json), class: 'quick-upload' do
        = file_field_tag 'content_asset[source]', multiple: 'multiple'
        = link_to t('locomotive.content_assets.image_picker.upload'), content_assets_path(:json), class: 'new', id: 'upload-link'

%script{ type: 'text/html', id: 'content_asset' }

  {{#if uploading}}
  %h4 {{filename}}
  .uploading
    .progress-bar
      &nbsp;

  {{else}}

  %h4
    = link_to '{{filename}}', '{{url}}', alt: '{{full_filename}}', title: '{{full_filename}}'

  {{#if with_thumbnail}}
  .image
    .inside
      %img{ src: '{{vignette_url}}' }
  {{else}}
  .icon{ class: '{{content_type}}' }
    .inside
      {{content_type_text}}
  {{/if}}

  .actions
    = link_to_icon :trash, '#', class: 'remove', data: { confirm: t('locomotive.messages.confirm') }

  {{/if}}