.edit-assets-container
  .image-container{ data: { height: @content_asset.height, width: @content_asset.width, filename: @content_asset.name } }
    = image_tag @content_asset.source.url

  .resize-form{ style: 'display: none' }
    - resize_form = image_resize_form(@content_asset)
    = locomotive_form_for resize_form, url: '#' do |f|
      = f.inputs do
        = f.input :width
        = f.input :height

      .text-right
        %button.btn.btn-sm.btn-success.apply-resizing-btn{ autocomplete: 'off', data: { loading_text: f.submit_text(:loading_text) } }
          = f.submit_text
        &nbsp;
        %button.btn.btn-sm.btn-default.cancel-resizing-btn{ autocomplete: 'off' }
          = f.submit_text :cancel

  .actions
    .btn-group-vertical{ role: 'group' }
      %button.btn.btn-sm.btn-primary.resize-btn{ title: 'Resize' }
        %i.fa.fa-compress
      %button.btn.btn-sm.btn-primary.crop-btn{ title: 'Crop' }
        %i.fa.fa-crop
      %button.btn.btn-sm.btn-success.apply-btn{ title: 'Apply', data: { url: content_assets_path(format: :json) } }
        %i.fa.fa-check
