.edit-assets-container
  / .image-container{ style: "height: #{@content_asset.height}px" }
  / .image-container{ style: "width: 1280px;" }
  / .image-container
  / .image-container{ style: "width: #{@content_asset.width}px; height: #{@content_asset.height}px" }
  .image-container{ data: { height: @content_asset.height, width: @content_asset.width } }
    = image_tag @content_asset.source.url

  / .btn-group-vertical.edit-btn-group{ role: 'group', aria: { label: '...' } }
  / %button.btn.btn-sm.btn-primary.resize-btn
  /   %i.fa.fa-compress
  / %button.btn.btn-sm.btn-primary.crop-btn
  /   %i.fa.fa-crop

  .resize-form{ style: 'display: none' }
    %form.form{ role: 'form' }
      .form-group
        %label{ for: 'content-asset-width-input' } Width
        .input-group
          %input#content-asset-width-input.form-control{ type: 'integer', name: 'width', value: @content_asset.width, autocomplete: 'off' }
          .input-group-addon px
      .form-group
        %label#content-asset-width-height{ for: 'content-asset-width-height' } Height
        .input-group
          %input.form-control{ type: 'integer', name: 'height', value: @content_asset.height, autocomplete: 'off' }
          .input-group-addon px

      .text-right
        %button.btn.btn-sm.btn-success.apply-resizing-btn{ autocomplete: 'off', data: { 'loading-text' => 'Resizing...' } }
          Resize

  .actions
    %button.btn.btn-sm.btn-primary.resize-btn
      %i.fa.fa-compress
    &nbsp;
    %button.btn.btn-sm.btn-success.apply-btn
      Apply



  / .container-fluid
  /   .row
  /     .col-md-12
  /       / .image-container{ style: "width: #{@content_asset.width}px; height: #{@content_asset.height}px; max-width: 100%; max-height: 600px;" }
  /       .image-container{ style: "height: #{@content_asset.height}px; max-height: 600px;" }
  /         = image_tag @content_asset.source.url

  /     / .col-md-2
  /     /   .image-preview

  /     /   %p
  /     /     TODO
