- title t('.title')

= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|

  = f.hidden_field :reset_password_token

  .inner
    = box_flash_message

    = f.inputs do
      = f.input :email, :label => t('.email'), :required => false

    %p.link
      = link_to preserve(t('.link')), new_admin_session_path

  .footer
    = box_button_tag t('admin.buttons.send_password')