- title t('.title')

- content_for :submenu do
  = render 'admin/shared/menu/settings'

%p!= t('.help')

= semantic_form_for @account, :url => admin_accounts_url do |f|

  = f.foldable_inputs :name => :information do
    = f.input :name

  = f.foldable_inputs :name => :credentials do
    = f.input :email
    = f.input :password, :input_html => { :autocomplete => "off" }
    = f.input :password_confirmation, :input_html => { :autocomplete => "off" }

  = render 'admin/shared/form_actions', :back_url => edit_admin_current_site_url, :button_label => :create