- title t('.title')

- content_for :submenu do
  = render 'admin/shared/menu/contents'

- content_for :actions do
  = render 'admin/shared/actions/contents'

- content_for :buttons do
  = admin_button_tag :show_items, admin_contents_url(@content_type.slug_was), :class => 'show'
  = admin_button_tag :new_item, new_admin_content_url(@content_type.slug_was), :class => 'new'

%p!= t('.help')

= semantic_form_for @content_type, :url => admin_content_type_url(@content_type) do |f|

  = render 'form', :f => f

  = render 'admin/shared/form_actions', :back_url => admin_contents_url(@content_type.slug_was), :button_label => :update

= render 'admin/custom_fields/edit_field', :content_type => @content_type