- content_for :backbone_view_data do
  :plain
    { content:      #{@content.persisted? ? @content.to_json : 'null'} }

/ = render 'locomotive/custom_fields/custom_form', :form => f, :title => :attributes, :parent => @content_type

= f.inputs :name => :advanced_options, :class => "inputs foldable #{'folded' if inputs_folded?(@content)}" do

  = f.input :_slug
  = f.input :seo_title
  = f.input :meta_keywords
  = f.input :meta_description
