- content_for :head do
  / = include_javascripts :image_picker, :snippets
  / = include_stylesheets :fancybox

= f.inputs :name => :information do
  = f.input :name, :wrapper_html => { :class => 'highlighted' }
  = f.input :slug, :required => false

= f.inputs :name => :code do
  = f.input :template, :as => :'Locomotive::Code'
