- content_for :head do
  = render '/locomotive/theme_assets/picker'

- content_for :backbone_view_data do
  :plain
    snippet: #{j @snippet.persisted? ? @snippet.to_presenter.as_json_for_html_view.to_json.html_safe : 'null'}

= f.inputs :name => :information do
  = f.input :name, :wrapper_html => { :class => 'highlighted' }
  = f.input :slug, :required => false

= f.inputs :name => :code do
  = f.input :template, :as => :'Locomotive::Code'
