= locomotive_form_for @page, url: update_all_editable_elements_path(current_site, @page), remote: true, html: { multipart: true }, defaults: { placeholder: false, hint: false } do |f|

  .container-fluid.main{ role: 'main' }
    .row.header-row
      .col-md-12
        %h1= @page.title

    .row.info-row
      .col-md-7
        %p
          %span.fullpath= '/' + @page.fullpath

      .col-md-5
        %p.text-right
          = link_to edit_page_path(current_site, @page) do
            %i.fa.fa-gear
            Settings

          = f.action

  .scrollable
    .container-fluid
      .row
        .col-md-12
          = render 'form', f: f
