= locomotive_form_for @page, url: update_all_editable_elements_path(current_site, @page), remote: true, html: { multipart: true }, defaults: { placeholder: false, hint: false } do |f|

  .container-fluid.main{ role: 'main' }
    .row.header-row
      .col-md-12
        %h1= @page.title

    .row.info-row
      .col-md-9
        %p
          %span.fullpath= '/' + @page.fullpath

          &nbsp;
          &mdash;
          &nbsp;

          = link_to edit_page_path(current_site, @page) do
            %i.fa.fa-gear
            = t('.settings_link')


      .col-md-3
        %p.text-right
          = f.action

      .col-md-12
        %fieldset.inputs
          .form-group.input.select2.optional.inline
            %label.select.optional.control-label{ for: 'page_block' }= t(:region, scope: 'simple_form.labels.locomotive.editable_element')
            %span.form-wrapper
              = select_tag 'block', options_for_page_blocks(@editable_elements_by_block)


  .scrollable
    .container-fluid
      .row
        .col-md-12
          = render 'form', f: f
