.editable-elements
  - @editable_elements.each_with_index do |(page, editable_element), index|
    = f.simple_fields_for :editable_elements, editable_element, child_index: index do |g|
      = g.inputs editable_element.block do

        = g.hidden_field :page_id

        = g.hidden_field :humanized_id

        - if editable_element.type.to_sym == :editable_text
          = g.input :content, as: editable_element.format == 'html' ? :rte : :text, label: editable_element.slug, placeholder: false, hint: editable_element.hint, input_html: { rows: editable_element.rows }

        - if editable_element.type.to_sym == :editable_file
          = g.input :source, as: :file, label: editable_element.slug, select_content_asset: true, placeholder: false, hint: editable_element.hint, wrapper_html: { id: "editable-file-#{index}" }

          = g.hidden_field :content
