- content_for :head_title do
  = t('locomotive.installation.common.title')

- title t('.title')

= semantic_form_for(@site, url: installation_step_path(2), html: { multipart: true }) do |f|

  %p.explanations
    != t('.explanations')

  = f.inputs do
    = f.input :name, required: true

    - if multi_sites?
      = f.input :subdomain, required: true

    = f.input :first_locale, as: :select, collection: options_for_site_locales, include_blank: false, label: t('.default_site_locale'), hint: t('.default_site_locales_hints')

  = f.actions do
    = f.action :submit, label: t('.next'), as: :button
