= admin_submenu_item 'pages', admin_pages_url do
  .header
    %p= link_to t('admin.pages.index.new'), new_admin_page_url
  .inner
    %h2!= t('admin.pages.index.lastest_items')
    %ul
      - current_site.pages.latest_updated.minimal_attributes.each do |page|
        %li
          = link_to truncate(page.title, :length => 25), edit_admin_page_url(page)
          %span= time_ago_in_words(page.updated_at)

- each_content_type_menu_item do |content_type|
  .header
    %p= link_to t('admin.contents.index.new'), new_admin_content_url(content_type.slug)
  .inner
    %h2!= t('admin.contents.index.lastest_items')
    %ul
      - content_type.latest_updated_contents.each do |content|
        %li
          = link_to truncate(content.send(content_type.highlighted_field_name).to_s, :length => 20), edit_admin_content_path(content_type.slug, content)
          %span= time_ago_in_words(content.updated_at)

- other_content_types do |content_types|
  .inner
    %ul.big-links
      - content_types.each do |content_type|
        %li
          = link_to truncate(content_type.name, :length => 20), admin_contents_url(content_type.slug)