- title link_to(@account.name.blank? ? @account.name_was : @account.name, '#', :rel => 'my_account_name', :title => t('.ask_for_name'), :class => 'editable')

- content_for :head do
  = include_javascripts :account

- content_for :submenu do
  = render 'admin/shared/menu/settings'

- if multi_sites?
  - content_for :buttons do
    = admin_button_tag t('.new_site'), new_admin_site_url, :class => 'new'

%p= t('.help')

= semantic_form_for @account, :as => :my_account, :url => admin_my_account_url, :html => { :class => 'save-with-shortcut' } do |f|

  = f.foldable_inputs :name => :information, :style => 'display: none' do
    = f.input :name

  = f.foldable_inputs :name => :credentials do
    = f.input :email
    = f.input :password, :input_html => { :autocomplete => "off" }
    = f.input :password_confirmation, :input_html => { :autocomplete => "off" }

  - if multi_sites?
    = f.foldable_inputs :name => :sites, :class => 'sites off' do
      - @account.sites.each do |site|
        %li{ :class => 'item' }
          %strong= link_to site.name, site_url(site)
          %em= site.domains.join(', ')

          - if admin_on?(site) && site != current_site
            %span{ :class => 'actions' }
              = link_to image_tag('admin/form/icons/trash.png'), admin_site_url(site), :class => 'remove first', :confirm => t('admin.messages.confirm'), :method => :delete

  = f.foldable_inputs :name => :language, :class => 'language' do
    = f.custom_input :language, { :css => 'full', :with_label => false } do
      - Locomotive.config.locales.each do |locale|
        %span
          %label
            = image_tag "admin/icons/flags/#{locale}.png"
            = f.radio_button :locale, locale
            &nbsp;
            = t(".#{locale}")

  = render 'admin/shared/form_actions', :button_label => :update
