%h2
  Resend unlock instructions
= form_for(resource_name, resource, :url => unlock_path(resource_name)) do |f|
= f.error_messages
%p
  = f.label :email
%p
  = f.text_field :email
%p
  = f.submit "Resend unlock instructions"
- end
= render :partial => "devise/shared/links"
