!!! XML
!!!
%html{ xmlns: 'http://www.w3.org/1999/xhtml'  }
  %head
    = render 'locomotive/shared/head'
  %body{ class: body_class }

    - # HEADER: brand + current site + account
    = render 'locomotive/shared/header'

    - # WRAPPER
    .wrapper
      %nav.sidebar
        .scrollable
          = render 'locomotive/shared/sidebar'

      .content
        .scrollable
          .container-fluid.main{ role: 'main' }
            .row
              .col-md-8.col-xs-9
                %h1!= title

              .col-md-4.col-xs-3.actions
                = yield :actions

            = yield

    = yield :foot
