!!! XML
!!!
%html{ xmlns: 'http://www.w3.org/1999/xhtml'  }
  %head
    = render 'locomotive/shared/head'
  %body{ class: sections }

    - # HEADER: brand + current site + account
    = render 'locomotive/shared/header'

    - # WRAPPER
    .wrapper
      %nav.sidebar
        .scrollable
          = render 'locomotive/shared/sidebar'

      .content
        .scrollable
          .container-fluid.main{ role: 'main' }
            .row
              .col-md-8
                %h1!= title

              .col-md-4
                = yield :buttons

            = yield

    = yield :foot
