!!! XML
!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml'  }
  %head
    %title= yield(:head_title) || escape_once("#{Locomotive.config.name} &mdash; #{current_site.name}")

    = include_javascripts :box
    = include_stylesheets :box, :media => 'screen'

    / [if IE]
      = include_stylesheets :ie, :media => 'screen'

    = yield :head

  %body{ :class => controller.controller_name }
    #wrapper
      #light.container
        #panel.container
          %h1!= title

          = yield