!!! XML
!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml'  }
  %head
    %title= escape_once(title || "#{Locomotive.config.name} &mdash; #{current_site.name}")

    = javascript_include_tag  'locomotive/not_logged_in'
    = stylesheet_link_tag     'locomotive/not_logged_in', :media => 'screen'

    = yield :head

  %body{ :class => controller.controller_name }
    #wrapper
      #light.container
        #panel.container
          %h1!= title

          = yield