!!! XML
!!!
%html{ xmlns: 'http://www.w3.org/1999/xhtml'  }
  %head
    = render 'locomotive/shared/head'
  %body{ class: 'inline-editing sidebar-closed drawer-opened' }

    - # HEADER: brand + current site + account
    = render 'locomotive/shared/header'

    - # WRAPPER
    .wrapper
      %nav.sidebar
        .scrollable
          = render 'locomotive/shared/sidebar'

      .content
        .expand-button
          %i.fa.fa-chevron-left
        .scrollable
          = yield

      %section.drawer
        .close-button
          %i.fa.fa-chevron-right
        .inner
          = yield :drawer

    = yield :foot
