 <div id="editor-app"></div>

<% content_for :head do %>
  <script>
    const _json = <%== render template: 'locomotive/page_content/edit.json.jbuilder' %>;

    window.Locomotive.previewBaseUrl = "<%= preview_path(current_site) %>";

    window.Locomotive.data = _json.data;
    window.Locomotive.urls = _json.urls;

    window.Locomotive.i18n = {
      success:  "<%= h t('flash.locomotive.pages.update.notice') %>",
      fail:     "<%= h t('flash.locomotive.pages.update.alert') %>"
    }

  </script>

  <%= javascript_include_tag  'locomotive/content_editing' %>
  <%= stylesheet_link_tag     'locomotive/content_editing', media: 'screen' %>
<% end %>
