- if breadcrumb_root
  - title t('.title.breadcrumb', :root => link_to(breadcrumb_root._label, breadcrumb_url), :type => @content_type.name.capitalize)
- else
  - title t('.title.default', :type => @content_type.name.capitalize)

- content_for :submenu do
  = render 'admin/shared/menu/contents'

- content_for :actions do
  = render 'admin/shared/actions/contents'

- content_for :buttons do
  - if can?(:manage, ContentType)
    = admin_button_tag t('admin.contents.index.edit'), edit_admin_content_type_url(@content_type), :class => 'edit'

  = admin_button_tag t('admin.contents.index.new'), new_admin_content_url(@content_type.slug), :class => 'new'

%p= @content_type.description

= semantic_form_for @content, :as => :content, :url => admin_content_url(@content_type.slug, @content), :html => { :multipart => true, :class => 'save-with-shortcut' } do |form|

  = render 'form', :f => form

  = render 'admin/shared/form_actions', :back_url => back_url, :button_label => :update