- title t('.title', :type => @content_type.name.capitalize)

- content_for :submenu do
  = render 'admin/shared/menu/contents'

- content_for :actions do
  = render 'admin/shared/actions/contents'

- content_for :head do
  = include_javascripts :contents

- content_for :buttons do
  = admin_button_tag :edit, edit_admin_content_type_url(@content_type), :class => 'edit'
  = admin_button_tag :new, new_admin_content_url(@content_type.slug), :class => 'new'

- if @content_type.description.present?
  %p= @content_type.description

- if @content_type.groupable?
  - @contents.each do |group|
    %h3= group[:name] || t('.category_noname')
    = render 'list', :contents => group[:items]
    %br
- else
  = render 'list', :contents => @contents

= form_tag sort_admin_contents_path(@content_type.slug), :method => :put, :class => 'formtastic' do
  = hidden_field_tag :order

  = render 'admin/shared/form_actions', :delete_button => link_to(content_tag(:em, escape_once('&nbsp;')) + t('.destroy'), admin_content_type_url(@content_type), :confirm => t('admin.messages.confirm'), :method => :delete, :class => 'button small remove'), :button_label => :update