- if breadcrumb_root
  - title t('.title.breadcrumb', :root => link_to(breadcrumb_root._label, breadcrumb_url), :type => @content_type.name.capitalize)
- else
  - title t('.title.default', :type => @content_type.name.capitalize)

- content_for :submenu do
  = render 'locomotive/shared/menu/contents'

- content_for :actions do
  = render 'locomotive/shared/actions/contents'

- content_for :buttons do
  - if can?(manage, Locomotive::ContentType)
    = admin_button_tag t('locomotive.contents.index.edit'), edit_content_type_url(@content_type), :class => 'edit'

  = admin_button_tag t('locomotive.contents.index.new'), new_content_url(@content_type.slug), :class => 'new'

%p= @content_type.description

= semantic_form_for @content, :as => :content, :url => content_url(@content_type.slug, @content), :html => { :multipart => true, :class => 'save-with-shortcut' } do |form|

  = render 'form', :f => form

  = render 'locomotive/shared/form_actions', :back_url => back_url, :button_label => :update