!!! XML
!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml'  }
  %head
    %title= escape_once("#{Locomotive.config.name} &mdash; #{current_site.name}")

    = stylesheet_link_tag 'admin/blueprint/screen', 'admin/login', :media => 'screen', :cache => Rails.env.production? && !Locomotive.config.heroku
    / [if IE]
      = stylesheet_link_tag('admin/blueprint/ie', :media => 'screen')

  %body
    #wrapper
      #light.container
        #panel.container
          %h1= title

          = yield