- content_for :head do
  = include_javascripts :import

- title t('.title')

- content_for :submenu do
  = render 'admin/shared/menu/settings'

%p!= t('.help')

%ul{ :id => 'import-steps', :class => 'list', :'data-url' => admin_import_url(:json), :'data-success-message' => t('.messages.success'), :'data-failure-message' => t('.messages.failure') }
  - %w(site content_types assets asset_collections snippets pages).each do |step|
    %li{ :id => "#{step}-step" }
      %em
      %strong
        = link_to t(".steps.#{step}"), '#'
      .more
        .states
          &nbsp;