- title t('.title')

= help t('.help', default: '')

= semantic_form_for @account, url: accounts_path do |f|

  = f.inputs name: :information do
    = f.input :name
    - unless f.object.respond_to?(:password)
      = f.input :email

    - if f.object.respond_to?(:password)
      = f.input :email
      = f.input :password, input_html: { autocomplete: 'off' }
      = f.input :password_confirmation, input_html: { autocomplete: 'off' }

  = f.actions do
    .row
      .col-md-6
        = link_to escape_once('&larr;&nbsp;') + t('.back'), edit_current_site_path
      .col-md-6.text-right
        = semantic_form_button @account