.item.row{ data: { id: locale } }

  = hidden_field_tag 'site[locales][]', locale

  .text.col-md-10.col-xs-9
    %i.fa.fa-bars.draggable

    = image_tag "locomotive/icons/flags/#{locale}.png", alt: locale, size: '24x24'

    = I18n.t("locomotive.locales.#{locale}")

  .buttons.col-md-2.col-xs-3.text-right
    = link_to '#', class: 'delete' do
      %i.fa.fa-trash-o
