- title t('.title')

= help t('.help', default: '')

= locomotive_form_for @site, url: current_site_path, html: { multipart: true } do |f|

  = hidden_field_tag :active_tab, ''

  = semantic_form_button @site, 'hide'

  = render 'locomotive/current_site/form/tabs', f: f

  = render 'locomotive/current_site/form/panes', f: f
