- title t('.title')

- content_for :actions do
  = semantic_form_button @account

= help t('.help', default: '')

= semantic_form_for @account, url: my_account_path do |f|

  %ul.nav.nav-tabs{ role: 'tablist' }
    %li.active
      = link_to t('formtastic.titles.information'), '#main', role: 'tab', data: { toggle: 'tab' }
    %li
      = link_to t('formtastic.titles.credentials'), '#credentials', role: 'tab', data: { toggle: 'tab' }
    %li
      = link_to t('formtastic.titles.api'), '#api', role: 'tab', data: { toggle: 'tab' }

  .tab-content
    #main.tab-pane.active
      = f.inputs name: :information do
        = f.input :name
        = f.input :locale, as: :select, collection: options_for_locale, include_blank: false

    #credentials.tab-pane
      = f.inputs name: :credentials do
        = f.input :email
        = f.input :password, input_html: { autocomplete: 'off' }
        = f.input :password_confirmation, input_html: { autocomplete: 'off' }

    #api.tab-pane
      = f.inputs name: :api do
        = f.input :api_key, as: '::Locomotive::ApiKey', url: regenerate_api_key_my_account_path

  = f.actions do
    = f.action :submit, as: :button
