%p
  != t('locomotive.mailer.common.hello')
  = @resource.email
  \!
%p
  != t('.reset_password_instruction')
%p
  = link_to t('.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p
  != t('.wrong_request_instruction')
%p
  != t('.unchange_password_message')