- content_for :head_title do
  = t('admin.installation.common.title')

- title t('.title')

- content_for :head do
  = include_stylesheets :installation
  = include_javascripts :installation

= semantic_form_for(@site, :url => admin_installation_step_url(2), :html => { :multipart => true }) do |f|
  .inner

    %p.explanations
      != t('.explanations')

    = f.inputs do
      = f.input :name, :required => true

      - if multi_sites?
        = f.input :subdomain, :required => true

      - if Locomotive.default_site_template_present?
        %li{ :class => 'question', :id => 'default_site_template_input' }
          = check_box_tag 'default_site_template', '1', params[:default_site_template].blank? || params[:default_site_template] == '1'
          %label{ :for => 'default_site_template' }!= t('formtastic.labels.import.new.default_site_template')

      %li{ :class => 'string optional', :id => 'zipfile_input', :style => "#{'display: none' if Locomotive.default_site_template_present?}" }
        %label{ :for => 'zipfile' }= t('formtastic.labels.import.new.source')
        = file_field_tag 'zipfile'
        - if Locomotive.default_site_template_present?
          %p.inline-hints!= t('.back_to_default_template')

  .footer
    = box_button_tag t('.next')