- content_for :head_title do
  = t('admin.installation.common.title')

- title t('.title')

- content_for :head do
  = include_stylesheets :installation

= semantic_form_for(@site, :url => admin_installation_step_url(2), :html => { :multipart => true }) do |f|
  .inner
    %p.explanations
      != t('.explanations')

    = f.inputs do
      = f.input :name, :required => true

      - if multi_sites?
        = f.input :subdomain, :required => true

      %li{ :class => 'string optional', :id => 'zipfile_input' }
        %label{ :for => 'zipfile' }= t('formtastic.labels.import.new.source')
        = file_field_tag 'zipfile'

  .footer
    = box_button_tag t('.next')