%title= escape_once("#{Locomotive.config.name} &mdash; #{current_site.name}")

= csrf_meta_tag

= stylesheet_link_tag     'locomotive', :media => 'screen'
= javascript_include_tag  'locomotive'

/ [if IE]
  = stylesheet_link_tag 'locomotive/ie', :media => 'screen'

%script{ :type => 'text/javascript' }
  :plain
    window.locale = '#{I18n.locale}';

    Locomotive.current_site     = new Locomotive.Models.Site(#{current_site.to_json});
    Locomotive.current_account  = new Locomotive.Models.Account(#{current_locomotive_account.to_json});

    $(document).ready(function() {

      window.application_view = new Locomotive.Views.ApplicationView({
        flash:  #{flash.to_json},
        view:   Locomotive.Views.#{controller.controller_name.camelize}.#{controller.action_name.camelize}View
      });
      window.application_view.render();

    });

= yield :head