%title= escape_once("#{Locomotive.config.name} &mdash; #{current_site.name}")

= csrf_meta_tag

%meta{ :name => 'locale', :content => I18n.locale }

= stylesheet_link_tag     'locomotive', :media => 'screen'

/ [if IE]
  = stylesheet_link_tag 'locomotive/ie', :media => 'screen'

%script{ :type => 'text/javascript' }
  = find_and_preserve(growl_message)

= yield :head