%title= escape_once("#{Locomotive.config.name} &mdash; #{current_site.name}")

= csrf_meta_tag

- key = Rails.application.config.session_options[:key]

%meta{ name: 'key-param', content: Rails.application.config.session_options[:key] }
%meta{ name: 'key-token', content: cookies[key] }

%script{ type: 'text/javascript' }
  :plain
    window.Locomotive = { mounted_on: '#{Locomotive.mounted_on}' }

= stylesheet_link_tag     'locomotive', media: 'screen'
= javascript_include_tag  'locomotive'

= render 'locomotive/shared/main_app_head_before_backbone'

%script{ type: 'text/javascript' }
  :plain
    window.locale                     = '#{I18n.locale}';
    window.content_locale             = '#{::Mongoid::Fields::I18n.locale}';
    window.permalink_service_url      = '#{Locomotive.mounted_on}/_permalink.json';

    window.Locomotive.current_site    = new Locomotive.Models.Site(#{escape_json to_json(current_site)});
    window.Locomotive.current_account = new Locomotive.Models.Account(#{escape_json to_json(current_locomotive_account)});

    $(document).ready(function() {

      window.application_view = new Locomotive.Views.ApplicationView({
        flash:      #{flash.to_json},
        view:       #{backbone_view_class_name},
        view_data:  { #{backbone_view_data} }
      });
      window.application_view.render();

    });

= yield :head

= render 'locomotive/shared/main_app_head'
