= render 'locomotive/shared/sidebar/my_account'

= render 'locomotive/shared/sidebar/link', icon: 'fa-dashboard', label: t('.dashboard'), url: dashboard_path(current_site)

= render_pages

= render 'locomotive/shared/sidebar/content_types'

= render 'locomotive/shared/sidebar/link', icon: 'fa-picture-o', label: t('.assets'), url: content_assets_path(current_site)

= render 'locomotive/shared/sidebar/link', icon: 'fa-gear', label: t('.settings'), url: edit_current_site_path(current_site)

= render 'locomotive/shared/sidebar/link', icon: 'fa-suitcase', label: t(:sites, scope: 'locomotive.shared.header'), url: sites_path, section_class: 'visible-xs-block'

= render 'locomotive/shared/sidebar/link', icon: 'fa-sign-out', label: t(:logout, scope: 'locomotive.shared.header'), url: destroy_locomotive_account_session_path, data: { confirm: t('locomotive.messages.confirm') }, section_class: 'visible-xs-block'

