- content_for :head do
  = render 'locomotive/sites/domains'

= f.inputs name: :information do
  = f.input :name, wrapper_html: { class: 'highlighted' }
  = f.input :locales, as: :select,
    collection:     options_for_select(options_for_site_locales, current_locomotive_account.locale),
    input_html:     { name: 'site[locales][]' },
    include_blank:  false

- if manage_subdomain_or_domains?
  = f.inputs name: :access_points do
    = f.input :subdomain, as: :'Locomotive::Subdomain', domain: application_domain, input_html: { readonly: !manage_subdomain? }

    - if manage_domains?
      = f.input :domains, as: :'Locomotive::Empty'

