%script{ :type => 'text/html', :id => 'membership_entry' }

  = hidden_field_tag 'site[memberships_attributes][{{index}}][id]', '{{id}}'
  = hidden_field_tag 'site[memberships_attributes][{{index}}][_destroy]'

  %strong {{name}}

  %em.email {{email}}

  {{#if can_update}}
  .role
    {{#if grant_admin}}
    = select_tag 'site[memberships_attributes][{{index}}][role]', options_for_membership_roles
    {{else}}
    = select_tag 'site[memberships_attributes][{{index}}][role]', options_for_membership_roles(:skip_admin => true)
    {{/if}}

  %span.actions
    = link_to 'x', '#', :class => 'remove'

  {{else}}
  .role
    %em.locked {{role_name}}

  {{/if}}