- content_for :site_title do
  = t('.title')

= help t('.help', default: '')

= locomotive_form_for @site, url: sites_path, html: { multipart: true } do |f|

  = f.inputs :information do
    = f.input :name

    - if policy(@site).point?
      = f.inputs :access_points do
        - if manage_subdomain_or_domains?
          - if manage_subdomain?
            = f.input :subdomain, prepend: 'http://', append: '.' + application_domain

  = f.actions back_url: sites_path
