%ul.nav.nav-tabs{ role: 'tablist' }
  = form_nav_tab :main, true do
    = link_to t('formtastic.titles.information'), '#main', role: 'tab', data: { toggle: 'tab' }
  = form_nav_tab :credentials do
    = link_to t('formtastic.titles.credentials'), '#credentials', role: 'tab', data: { toggle: 'tab' }
  = form_nav_tab :api do
    = link_to t('formtastic.titles.api'), '#api', role: 'tab', data: { toggle: 'tab' }
