%ul.nav.nav-tabs{ role: 'tablist' }
  = form_nav_tab :main, true do
    = link_to t('formtastic.titles.information'), '#main', role: 'tab', data: { toggle: 'tab' }

  = form_nav_tab :seo do
    = link_to t('formtastic.titles.seo'), '#seo', role: 'tab', data: { toggle: 'tab' }

  = form_nav_tab :advanced do
    = link_to t('formtastic.titles.advanced'), '#advanced', role: 'tab', data: { toggle: 'tab' }
