%li{ :class => "#{'hidden' if asset.hidden?}" }
  %em
  %strong= link_to asset.local_path, edit_admin_theme_asset_path(asset)
  .more
    %span.size= number_to_human_size(asset.size)
    &mdash;
    %span!= t('.updated_at')
    = l asset.updated_at, :format => :short

    = link_to image_tag('admin/list/icons/trash.png'), admin_theme_asset_path(asset), :class => 'remove', :confirm => t('admin.messages.confirm'), :method => :delete
