- edit = local_assigns.key?(:edit) ? edit : true

%li{ :class => "#{asset.new_record? ? 'new-asset' : 'asset'} #{'hidden' if asset.hidden?}" }
  %em
  %strong= link_to asset.local_path(!edit), edit ? edit_admin_theme_asset_path(asset) : asset.source.url, :'data-local-path' => asset.local_path
  .more
    %span.size= number_to_human_size(asset.size)
    &mdash;
    %span!= t('.updated_at')
    %span.date= l asset.updated_at, :format => :short

    - if edit
      = link_to image_tag('admin/list/icons/trash.png'), admin_theme_asset_path(asset), :class => 'remove', :confirm => t('admin.messages.confirm'), :method => :delete
