- title t('.title', :file => @theme_asset.source_filename)

- content_for :submenu do
  = render 'admin/shared/menu/settings'

- content_for :buttons do
  = admin_button_tag t('admin.theme_assets.index.new'), new_admin_theme_asset_url, :class => 'new'

%p!= t('.help', :url => @theme_asset.source.url)

= semantic_form_for @theme_asset, :url => admin_theme_asset_url(@theme_asset), :html => { :multipart => true, :class => 'save-with-shortcut' } do |form|

  = render 'form', :f => form

  = render 'admin/shared/form_actions', :back_url => admin_theme_assets_url, :button_label => :update