%p= t('.title', :name => @account.name, :date => I18n.l(Time.now), :locale => @account.locale)

%hr

%p
  %b= t('.type', :type => @type.name, :locale => @account.locale)
  %br
  %i= @type.description

%hr

%ul
  - @entry.filtered_custom_fields_methods.each do |field|
    - value = @entry.source.send(field)
    %li
      %strong= field.to_s
      &nbsp;-&nbsp;
      %i
        = value
