{% extends parent %}

{% block content %}
  <section id="portfolio">

    <h2 class="work">{{ page.title }}</h2>

    {% paginate contents.projects by 3 %}
      <ul class="work">
        {% for work in paginate.collection %}
        <li>
          <a href="/portfolio/{{ work._permalink }}"><img src="{{ work.thumbnail.url }}" alt="{{ work.name }}" /></a>
        </li>
        {% endfor %}
      </ul>

      {{ paginate | default_pagination }}

    {% endpaginate %}

  </section>
{% endblock %}