%ul.nav.nav-tabs{ role: 'tablist' }
  = form_nav_tab :content do
    = link_to t('simple_form.titles.locomotive.content'), editable_elements_path(current_site, @page)

  = form_nav_tab :main, true do
    = link_to t('simple_form.titles.locomotive.information'), '#main', role: 'tab', data: { toggle: 'tab' }

  = form_nav_tab :seo do
    = link_to t('simple_form.titles.locomotive.seo'), '#seo', role: 'tab', data: { toggle: 'tab' }

  / = form_nav_tab :advanced do
  /   = link_to t('simple_form.titles.locomotive.advanced'), '#advanced', role: 'tab', data: { toggle: 'tab' }
