- content_for :head do
  = include_javascripts :image_picker, :snippets
  = include_stylesheets :fancybox

= f.inputs :name => :information do
  = f.input :name
  = f.input :slug, :required => false

= f.inputs :name => :code do
  = f.custom_input :template, :css => 'full', :with_label => false do
    %code{ :class => 'html' }
      = f.text_area :template
    .more
      = link_to t('admin.image_picker.link'), admin_theme_assets_path, :id => 'image-picker-link'