- content_for :head do
  = javascript_include_tag 'admin/plugins/codemirror/codemirror', 'admin/snippets.js'

= f.inputs :name => :information do
  = f.input :name
  = f.input :slug, :required => false
  
= f.inputs :name => :code do
  = f.custom_input :value, :css => 'full', :with_label => false do
    %code{ :class => 'html' }
      = f.text_area :value