- title t('.title')

- content_for :submenu do
  = render 'admin/shared/menu/settings'

- content_for :buttons do
  = admin_button_tag :new, new_admin_snippet_url, :class => 'add'

%p= t('.help')

- if @snippets.empty?
  %p.no-items= t('.no_items', :url => new_admin_snippet_url)
- else
  %ul#snippets-list.list
    = render @snippets
