- title t('.title')

- content_for :submenu do
  = render 'admin/shared/menu/settings'

- content_for :buttons do
  = admin_button_tag :new, new_admin_layout_url, :class => 'new'

%p= t('.help')

- if @layouts.empty?
  %p.no-items= t('.no_items', :url => new_admin_layout_url)
- else
  %ul#layouts-list.list
    = render @layouts
