- title t('.title')

= help t('.help', default: '')

= locomotive_form_for @membership, url: memberships_path do |f|

  = f.inputs :membership_email, class: 'inputs email' do
    = f.input :email

  = f.actions do
    .row
      .col-md-6.text-left
        = link_to escape_once('&larr;&nbsp;') + t('.back'), edit_current_site_path
      .col-md-6.text-right
        = locomotive_form_button @membership
