- title link_to(@site.name.blank? ? @site.name_was : @site.name, '#', :rel => 'site_name', :title => t('.ask_for_name'), :class => 'editable')

- content_for :submenu do
  = render 'admin/shared/menu/settings'

- content_for :buttons do
  = admin_button_tag :import, new_admin_import_url, :class => 'new'
  = admin_button_tag t('.new_membership'), new_admin_membership_url, :class => 'new'

%p!= t('.help')

= semantic_form_for @site, :url => admin_current_site_url, :html => { :class => 'save-with-shortcut' } do |f|

  = render 'form', :f => f

  = render 'admin/shared/form_actions', :button_label => :update
