- title t('.title')

- content_for :submenu do
  = render_cell 'locomotive/settings_menu', :show

%p!= t('.help')

= semantic_form_for @theme_asset, :url => theme_assets_url, :html => { :multipart => true } do |form|

  = render 'form', :f => form

  = render 'locomotive/shared/form_actions', :back_url => theme_assets_url, :button_label => :create