%title= escape_once("#{Locomotive.config.name} &mdash; #{current_site.name}")

= csrf_meta_tag

%meta{ :name => 'locale', :content => I18n.locale }

= include_javascripts :common

= include_stylesheets :common, :media => 'screen'

/ [if IE]
  = include_stylesheets :ie, :media => 'screen'

%script{ :type => 'text/javascript' }
  = find_and_preserve(growl_message)

= yield :head