%h1
  = link_to current_site.name, admin_pages_url, :class => 'single'

#global-actions-bar
  != t('.welcome', :name => link_to(current_admin.name, edit_admin_my_account_url))
  %span= '|'
  = link_to t('.see'), current_site_url, :id => 'viewsite', :target => '_blank'
  - if multi_sites? && current_admin.sites.size > 1
    %span= '|'
    = link_to t('.switch'), '#', :id => 'sites-picker-link'
  %span= '|'
  = link_to 'Help', '#', :class => 'tutorial', :id => 'help'
  %span= '|'
  = link_to t('.logout'), destroy_admin_session_url, :confirm => t('admin.messages.confirm')


- if multi_sites? && current_admin.sites.size > 1
  #sites-picker{ :style => 'display: none' }
    %ul
      - current_admin.sites.each do |site|
        - unless current_site._id == site._id
          %li
            = link_to site.name, new_admin_cross_domain_session_url(:target_id => site._id)

    - if can?(:manage, Site)
      %p.action
        = link_to t('admin.sites_picker.new'), new_admin_site_url