%h1
  - if current_admin.sites.size > 1
    = form_tag new_admin_cross_domain_session_url, :method => 'get' do
      = select_tag 'target_id', options_for_select(current_admin.sites.collect { |site| [truncate(site.name, :length => 32), site.id] }, current_site.id), :id => 'site-selector'
      = submit_tag 'Switch', :style => 'display: none'
  - else
    = link_to current_site.name, admin_pages_url, :class => 'single'

#global-actions-bar
  != t('.welcome', :name => link_to(current_admin.name, edit_admin_my_account_url))
  %span= '|'
  = link_to t('.see'), current_site_url
  %span= '|'
  = link_to t('.logout'), destroy_admin_session_url, :confirm => t('admin.messages.confirm')