%title= escape_once("#{Locomotive.config.name} &mdash; #{current_site.name}")

= csrf_meta_tag

%meta{ :name => 'locale', :content => I18n.locale }

= stylesheet_link_tag 'admin/blueprint/screen', :media => 'screen'
/ [if IE]
  = stylesheet_link_tag 'admin/blueprint/ie', :media => 'screen'
  
= stylesheet_link_tag 'admin/layout', 'admin/jquery/ui', 'admin/plugins/toggle', 'admin/menu', 'admin/buttons', 'admin/formtastic', 'admin/formtastic_changes', 'admin/application', :media => 'screen', :cache => Rails.env.production? && !Locomotive.heroku?

= javascript_include_tag 'admin/jquery', 'admin/jquery.ui', 'admin/rails', 'admin/utils', 'admin/plugins/toggle', 'admin/plugins/growl', 'admin/plugins/cookie', 'admin/application', 'admin/locales/datepicker_fr', :cache => Rails.env.production? && !Locomotive.heroku?

%script{ :type => 'text/javascript' }
  = find_and_preserve(growl_message)

= yield :head